.container {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d6e2f0;
}

.card {
  width: 320px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 14px 40px -18px rgba(66, 68, 90, 0.2);
  -moz-box-shadow: 0px 14px 40px -18px rgba(66, 68, 90, 0.2);
  box-shadow: 0px 14px 40px -18px rgba(66, 68, 90, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
}

.image-container {
  background-color: #d6e2f0;
  border-radius: 10px;
  height: 290px;
  padding: 15px;
  display: grid;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

h1 {
  color: #1f3251;
  text-align: center;
}

span {
  font-size: 15;
  color: #1f3251;
  text-align: center;
}

button {
  width: 100%;
  background-color: #d6e2f0;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  color: #1f3251;
  cursor: pointer;
}

.portal {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
}
.portal::after,
.portal::before {
  content: "";
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid #1f3251;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}
.portal::after {
  border-color: #1f3251;
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
